<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <head></head>
    <body>
        <table>
            <tr>
                <th colspan="4">2015</th>
            </tr>
            <tr>
                <td><a href="/months/jan">January</a></td>
                <td></td><a href="/months/feb">February</a></td>
                <td><a href="/months/march">March</a></td>
                <td><a href="/months/april">April</a></td>
            </tr>
            <tr>
                <td><a href="/months/may">May</a></td>
                <td><a href="/months/june">June</a></td>
                <td><a href="/months/july">July</a></td>
                <td><a href="/months/aug">August</a></td>
            </tr>
            <tr>
                <td><a href="/months/sept">September</a></td>
                <td><a href="/months/oct">October</a></td>
                <td><a href="/months/nov">November</a></td>
                <td><a href="/months/dec">December</a></td>
            </tr>
        </table>
    </body>
</html>