<article id="mar">
<html>
    <link rel="stylesheet" type="text/css" href="main.css">
    <head></head>
    <body>
        <table id="monthTable">
                <th class="monthHeader" colspan="5">March</th>
            <tr>
                <td class="weekday">Monday</td>
                <td class="weekday">Tuesday</td>
                <td class="weekday">Wednesday</td>
                <td class="weekday">Thursday</td>
                <td class="weekday">Friday</td>
            </tr>
            <tr>
                <td class="nums">2</td>
                <td class="nums">3</td>
                <td class="nums">4</td>
                <td class="nums">5</td>
                <td class="nums">6</td>
            </tr>
            <tr>
                <td class="people"> </td>
                <td class="people">Lin Chen<br>Cora Monokandilos<br>Lee White<br>Dante Tam</td>
                <td class="people">Lee White<br>Dante Tam</td>
                <td class="people">Lin Chen<br>Cora Monokandilos<br>Vivien Lam<br>Dante Tam</td>
                <td class="people"> </td>
            </tr>
            <tr>
                <td class="nums">9</td>
                <td class="nums">10</td>
                <td class="nums">11</td>
                <td class="nums">12</td>
                <td class="nums">13</td>
            </tr>
            <tr>
                <td class="people"> </td>
                <td class="people">Lin Chen<br>Cora Monokandilos<br>Lee White<br>Dante Tam</td>
                <td class="people">Lee White<br>Dante Tam</td>
                <td class="people">Lin Chen<br>Cora Monokandilos<br>Vivien Lam<br>Dante Tam</td>
                <td class="people"> </td>
            </tr>
            <tr>
                <td class="nums">16</td>
                <td class="nums">17</td>
                <td class="nums">18</td>
                <td class="nums">19</td>
                <td class="nums">20</td>
            </tr>
            <tr>
                <td class="people"> </td>
                <td class="people">Lin Chen<br>Cora Monokandilos<br>Lee White<br>Dante Tam</td>
                <td class="people">Lee White<br>Dante Tam</td>
                <td class="people">Lin Chen<br>Cora Monokandilos<br>Vivien Lam<br>Dante Tam</td>
                <td class="people"> </td>
            </tr>
            <tr>
                <td class="nums">23</td>
                <td class="nums">24</td>
                <td class="nums">25</td>
                <td class="nums">26</td>
                <td class="nums">27</td>
            </tr>
            <tr>
                <td class="people"> </td>
                <td class="people">Lin Chen<br>Cora Monokandilos<br>Lee White<br>Dante Tam</td>
                <td class="people">Lee White<br>Dante Tam</td>
                <td class="people">Lin Chen<br>Cora Monokandilos<br>Vivien Lam<br>Dante Tam</td>
                <td  class="people"></td>
            </tr>
            <tr>
                <td class="nums">30</td>
                <td class="nums">31</td>
                <td class="nextMonth">1</td>
                <td class="nextMonth">2</td>
                <td class="nextMonth">3</td>
            </tr>
            <tr>
                <td class="people"> </td>
                <td class="people">Lin Chen<br>Cora Monokandilos<br>Lee White<br>Dante Tam</td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
        </table>
    </body>
</html>